//
// These are the base print styles for the
// UA Student Affairs Student Handbook.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include the framework settings to override
@import "../../student-affairs-framework/scss/_sa-framework-settings";

// Include our mixins
@import "../../student-affairs-framework/scss/_sa-framework-mixins";

#sa-header-wrapper {
	height: auto;

	.columns {
		height: auto;
	}

	#sa-header {
		width: auto;
		position: static !important;
		transform: none !important;
		padding: 0;
	}

	.sa-site-title-wrapper {
		min-height: 75px;

		.ua-square {
			float: left;
			width: auto;
			height: 75px;
		}

		.sa-site-title {
			font-size: 3em;
			padding-left: 95px !important;

			.line {

				&.first-line {
					font-size: 0.6em;
					line-height: 1.2;
					opacity: 0.9;
				}

				&.second-line {
					color: $primary-color !important;
				}

			}

		}

	}

}

// Tweak the homepage grid
.sa-handbook-featured-grid {

	.block-grid {

		& > li {
			float: none;
			width: auto;
		}

	}

	.item-header {
		margin: 0 0 5px 0;

		&:before {
			display: none;
		}

		a {
			text-decoration: none;

			&:after {
				content: attr(href);
				display: block;
				text-decoration: none;
				font-size: 0.85em;
				font-style: italic;
			}

		}

		.item-image {
			display: none;
		}

		.item-title {
			position: static;
			padding: 0;
		}

	}

	.item-text {
		padding: 0;

		ul {

			li {
				padding-left: 0;
			}

		}

		.view {

			a {
				text-align: left;
				padding-left: 0;
				font-weight: bold;

				&:after {
					content: " at " attr(href);
				}

			}

		}

	}

}

// Tweak the sections
.sa-handbook-section-list {
	margin: 0 0 30px 0;

	.list-item {
		border-top: 1px solid rgba( $black, 0.03 );
		padding: 20px 0;
		margin: 0;

		.item-header {

			a {
				text-decoration: none;

				&:after {
					content: attr(href);
					display: block;
					text-decoration: none;
					font-size: 0.85em;
					font-style: italic;
					font-weight: 300;
				}

			}

		}

	}

}