//
// These are the base styles for the
// UA Student Affairs Student Handbook.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include the framework settings to override
@import "../../student-affairs-framework/scss/_sa-framework-settings";

// COLORS
$primary-color: #a02534;

// Set some Handbook settings
$sa-handbook-light-gray: #f2f2f2;
$sa-handbook-main-menu-search-bg-color: #444;
$sa-handbook-main-menu-border-sep-width: 2px;

// Change any framework settings

// Header
$sa-header-height: 160px;
$sa-header-first-bp-height: 180px;
$sa-header-padding: 0;
$sa-header-first-bp-padding: 0;
$sa-header-bg-color: $sa-handbook-light-gray;
$sa-header-font-color: #222;
$sa-header-site-title-margin: 0;
$sa-header-first-breakpoint: 680px;
$sa-header-site-title-small-ua-square-height: 80px;
$sa-header-site-title-first-bp-ua-square-height: 120px;

// Main Menu
$sa-main-menu-min-height: 40px;
$sa-main-menu-bg-color: $sa-handbook-light-gray;
$sa-main-menu-border: 0;
$sa-main-menu-border-top: 2px solid $white;
$sa-main-menu-color: #444;
$sa-main-vert-sep-color: $sa-handbook-light-gray;

$sa-main-menu-categories-pink: $primary-color;
$sa-main-menu-categories-pink-darker: darken($sa-main-menu-categories-pink, 7%);

// Main Area
$sa-main-sidebar-header-bg-color: rgba(0,0,0,0.03);
$sa-main-vert-sep-color: $sa-handbook-light-gray;
$sa-main-vert-sep-width: 1px;
$sa-main-sidebar-align-with-content-padding-top: 85px !default;

// Include the framework base styles
@import "../../student-affairs-framework/scss/sa-framework";

#sa-banner-wrapper {

	#sa-banner{

		// @TODO have to hide for now
		.sa-banner-right {
			display: none;
		}

	}

}

#sa-header-wrapper {
	background: url( '../images/student-handbook-header-small.jpg' ) center bottom repeat-x $sa-header-bg-color;
	height: $sa-header-height;
	min-height: $sa-header-site-title-small-ua-square-height;
	margin: $sa-header-site-title-margin;

	.columns {
		height: $sa-header-height;
		position: relative;
	}

	#sa-header {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		@include set-transform( translate(0, -50%) );
		padding: 0 ($column-gutter / 2);
	}

	.sa-site-title-wrapper {

		.ua-square {
			display: block;
			width: auto;
			height: $sa-header-site-title-small-ua-square-height;
			margin: 0;
		}

		a {
			min-height: $sa-header-site-title-small-ua-square-height;
			position: relative;
		}

		.sa-site-title {
			display: block;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			@include set-transform(translate(0, -50%));
			padding: 0 0 0 ($sa-header-site-title-small-ua-square-height + 20px);
			text-transform: uppercase;
			font-size: 2.4em;
			line-height: 1;

			.line {

				&.first-line {
					font-size: 0.4em;
					line-height: 1.8;
					opacity: 0.9;
					font-weight: 300;
				}

				&.second-line {
					font-weight: 600;
					color: $primary-color;
				}

			}

		}

	}

}

// Adjust the header on the first breakpoint
@media #{$screen} and (min-width:#{$sa-header-first-breakpoint}) {

	#sa-header-wrapper {
		height: $sa-header-first-bp-height;

		.columns {
			height: $sa-header-first-bp-height;
		}

		.sa-site-title-wrapper {
			min-height: $sa-header-site-title-first-bp-ua-square-height;

			.ua-square {
				height: $sa-header-site-title-first-bp-ua-square-height;
			}

			a {
				min-height: $sa-header-site-title-first-bp-ua-square-height;
			}

			.sa-site-title {
				font-size: 2.8em;
				line-height: 1.1;
				padding-left: $sa-header-site-title-first-bp-ua-square-height + 25px;

				.line {

					&.first-line {
						font-size: 0.6em;
						line-height: 1.1;
					}

				}

			}

		}

	}

}

#sa-handbook-main-menu-wrapper {
	min-height: $sa-main-menu-min-height;
	position: relative;
	overflow: auto;
	border-left: $sa-handbook-main-menu-border-sep-width solid #fff;
	border-right: $sa-handbook-main-menu-border-sep-width solid #fff;

	.sa-handbook-main-menu {
		@include reset-ul();
		text-transform: uppercase;
		overflow: auto;
		font-size: 0.9em;
		line-height: $sa-main-menu-min-height;

		.show-when-open {
			display: none;
		}

		li {
			float: left;
			width: 28%;
			text-align: center;
			border-right: $sa-handbook-main-menu-border-sep-width solid #fff;

			a {
				display: block;
				background: #e6e6e6;
				padding: 0 15px;
				min-height: $sa-main-menu-min-height;
				line-height: $sa-main-menu-min-height;
				text-decoration: none;
				color: inherit;

				&:hover {
					background: darken( #e6e6e6, 7% );
				}

			}

			&.categories {
				width: 44%;
				text-align: left;

				a {
					background: $sa-main-menu-categories-pink;
					color: $white;

					&:hover {
						background: $sa-main-menu-categories-pink-darker;
					}

				}

				span {
					display: block;
					padding: 0 0 0 13px;
					position: relative;

					$sa-categories-arrow-size: 6px;
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						width: 0;
						height: 0;
						margin: ( 0 - $sa-categories-arrow-size ) 0 0 0;
						border-top: $sa-categories-arrow-size solid transparent;
						border-bottom: $sa-categories-arrow-size solid transparent;
						border-left: $sa-categories-arrow-size solid $white;
					}
					
				}

				&.open {

					& > a {
						background: $sa-main-menu-categories-pink-darker;
						overflow: visible;
						position: relative;

						&:before {
							content: '';
							position: absolute;
							background: $sa-main-menu-categories-pink-darker;
							left: 0;
							bottom: -2px;
							width: 100%;
							height: 2px;
						}

						span {
							opacity: 0.6;

							&:before {
								@include set-transform( rotate(90deg) );
							}

						}

					}

				}

			}

			&:last-child {
				border-right: 0;
			}

		}

	}

	$sa-handbook-search-magnifying-glass-width: 38px;
	.search-form {
		display: block;
		clear: both;
		min-width: 220px;
		position: relative;
		background: $sa-handbook-main-menu-search-bg-color;
		width: auto;
		height: 100%;
		min-height: $sa-main-menu-min-height;
		z-index: 0;
		margin: 2px 0 0 0;

		input {
			margin: 0;
			border: 0;
			box-shadow: none;
			-webkit-appearance: none;
			transition: none;

			&.search-field {
				background: $sa-handbook-main-menu-search-bg-color;
				height: 100%;
				min-height: $sa-main-menu-min-height;
				padding: 0 10px 0 $sa-handbook-search-magnifying-glass-width;
				color: $white;
				font-size: 1.1em;
				line-height: $sa-main-menu-min-height;
				font-weight: 300;

				&::-webkit-input-placeholder,
				&::-moz-placeholder,
				&:-moz-placeholder,
				&:-ms-input-placeholder {
					color: rgba( $white, 0.8 );
				}

			}

			&.search-submit {
				@include screen-reader-text();
				border: 0;
				background: none;
				-webkit-appearance: none;
			}

		}

		// Add magnifying glass
		&:after {
			content: '';
			background: url( '../../student-affairs-framework/images/icons/magnifying-glass-white.svg' ) 14px center no-repeat;
			background-size: auto 20px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
			width: $sa-handbook-search-magnifying-glass-width;
			height: 100%;
			opacity: 0.6;
		}

		// When form is "active"
		&.active {

			&:after {
				opacity: 1;
			}

		}

	}

	// Will be added if tweaked by our JS
	&.form-is-resized {

		.search-form {
			float: none;
			min-width: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

	}

}

// Categories dropdown
#sa-handbook-main-menu-categories-wrapper {
	display: none; // Hidden by default
	background: $sa-main-menu-categories-pink-darker;
	border-top: 2px solid $white;
	color: rgba( $white, 0.95 );
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	z-index: 1000;
	padding: 20px;
	
	a {
		color: inherit;
	}

	.close-icon {
		display: block;
		position: relative;
		width: 100%;
		height: 50px;
		overflow: hidden;
		cursor: pointer;

		&::before, &::after {
			content: '';
			position: absolute;
			height: 4px;
			width: 50px;
			top: 50%;
			right: 0;
			margin-top: -2px;
			background: $white;
			opacity: 0.8;
		}

		&::before {
			@include set-transform(rotate(45deg));
		}

		&::after {
			@include set-transform(rotate(-45deg));
		}

		&:hover {

			&::before, &::after {
				opacity: 1;
			}

		}

	}
	
	#sa-handbook-main-menu-categories {
		text-transform: uppercase;
		width: 100%;
		height: 100%;
		overflow: scroll;

		.category-row {
			font-size: 0.95em;
			line-height: 1.3;
			overflow: auto;

			.category {

				a {
					display: block;
					padding: 0;
					height: 65px;
					text-decoration: none;
					position: relative;
					border-bottom: 1px solid rgba( $white, 0.3 );
					margin: 0;
					
					span {
						display: block;
						position: absolute;
						left: 0;
						top: 50%;
						@include set-transform( translate(0, -50%) );
						padding: 10px 15px;
					}

					&:hover {
						background: rgba( $white, 0.2 );
					}

				}

			}

		}

	}
	
	&.open {
		display: block;
	}

}

// The entire menu
#sa-main-menu-wrapper {
	color: $sa-main-menu-color;
	background-color: $sa-main-menu-bg-color;
	min-height: $sa-main-menu-min-height;
	border: $sa-main-menu-border;
	border-top: $sa-main-menu-border-top;

	.columns {
		padding-left: 0;
		padding-right: 0;
	}

	&.sticky {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10000000000000;
		border-bottom: 2px solid $white;
		border-top: 0;
	}

}

// "Open" up the menu
// This is the same breakpoint as the header (which is bottom of medium range)
@media #{$screen} and (min-width:#{$sa-header-first-breakpoint}) {

	#sa-handbook-main-menu-wrapper {
		background: $sa-handbook-main-menu-search-bg-color;
		overflow: visible;

		.sa-handbook-main-menu {
			float: left;
			overflow: visible;
			font-size: 1em;
			line-height: $sa-main-menu-min-height;

			.show-when-open {
				display: inline;
			}

			li {
				width: auto !important;

				&:last-child {
					border-right: $sa-handbook-main-menu-border-sep-width solid #fff;
				}

			}

		}

		.search-form {
			clear: none;
			float: left;
			margin: 0;
		}

	}

	#sa-handbook-main-menu-categories-wrapper {
		position: static;
		width: auto;
		height: auto;
		overflow: auto;
		padding: 12px 0;

		.close-icon {
			display: none;
		}

		#sa-handbook-main-menu-categories {
			width: auto;
			height: auto;
			overflow: auto;

			.category-row {

				.category {
					float: left;
					width: 33.333333333%;

					a {
						margin: 0 15px 0 0;
					}

				}

				&:last-child {

					.category {

						a {
							border-bottom: 0;
						}

					}

				}

			}

		}

	}

	#sa-main-menu-wrapper {

		.columns {
			padding-left: ($column-gutter / 2);
			padding-right: ($column-gutter / 2);
		}

	}

}

#sa-main {
	padding: 25px 0;
	min-height: 200px;

	.sa-sidebar {
		font-size: 0.85em;
		line-height: 1.5;

		// Only when active
		&.scroll-with-content.active-scroll-with-content {
			position: relative;
			padding-top: 0;

			.sa-sidebar-scroll-wrap {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%
			}

		}

		p, ul {
			font-size: inherit;
			line-height: inherit;
		}

		ul.menu {
			margin-left: 0;
			margin-right: 0;

			li {
				margin: 0 0 3px 0;

				a {
					display: block;
				}

			}

		}

		// The main submenu
		#sa-submenu {
			list-style: none;
			line-height: 1.7;
			color: rgba($black, 0.6);

			li {
				margin: 0;

				a {
					color: inherit;
					text-decoration: none;
					padding: $sa-main-submenu-item-padding;

					&:hover {
						color: $anchor-font-color;
						text-decoration: underline;
					}

				}

				&.current-menu-item {

					a {
						color: $black;
						font-weight: 700;
					}

				}

			}

		}

		.sidebar-header {
			background: $sa-main-sidebar-header-bg-color;
			text-transform: uppercase;
			font-size: 1.2em;
			line-height: 1.2;
			font-weight: 300;
			margin: 0 -30px 15px -10px;
			padding: 10px 10px 9px 10px;
			color: #666;

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

			& + #sa-submenu {
				margin-top: -8px;
			}

		}

	}

	.sa-left-sidebar + .sa-content {
		padding-top: 20px;
	}

	.print-page-button {
		display: block;
		min-height: 15px;
		cursor: pointer;
		background: url( '../../student-affairs-framework/images/icons/print-black.svg' ) 0 0 no-repeat;
		background-size: auto 15px;
		padding: 0 0 0 24px;
		margin: 20px 0;
		text-transform: uppercase;
		font-size: 0.8em;
		line-height: 1;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}

	}

}

// Tweak the homepage grid
.sa-handbook-featured-grid {
	margin: 10px 0 0 0;

	.row {
		max-width: $row-width + 20px;
	}

	.block-grid {

		& > li {
			margin: 0 0 20px 0;
		}

	}

	.item-header {
		position: relative;
		z-index: 0;
		margin: 0 0 15px 0;

		&:before {
			content: '';
			position: absolute;
			left: -8px;
			top: 8px;
			width: 100%;
			height: 100%;
			background: rgba( $black, 0.5 );
			z-index: -1;
		}

		a {
			display: block;
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $anchor-font-color;
				text-decoration: underline;
			}

		}

		.item-image {
			margin: 0;
		}

		.item-title {
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			font-family: $roboto;
			font-size: 1.7em;
			line-height: 1.2;
			text-transform: uppercase;
			margin: 0;
			padding: 20px 80px 15px 20px;
			color: #222;
		}

	}

	.item-text {
		padding: 0 5px 0 8px;

		p, ul {
			font-size: 0.9em;
			line-height: 1.6;
			margin: 0;
		}

		ul {
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;
			line-height: 1.4;

			li {
				margin: 0;
				border-bottom: 1px solid rgba( $black, 0.1 );
				padding: 9px 0 9px 11px;

				&:last-child {
					border-bottom: 0;
					padding-bottom: 12px;
				}

			}

		}

		.view {
			margin: 0;
			font-size: 0.9em;
			line-height: 1.3;

			a {
				font-size: inherit;
				line-height: inherit;
				padding: 0.7em 0 0.9em 0;
				margin: 0;
			}

		}

	}

}

@media #{$medium-up} {

	#sa-header-wrapper {
		background-image: url( '../images/student-handbook-header.jpg' );
	}

	#sa-main {

		.print-page-button {
			position: absolute;
			right: 22px;
			top: 0;
			margin: 0;
		}

		.sa-sidebar {

			&.align-with-content {
				padding-top: $sa-main-sidebar-align-with-content-padding-top;
			}

		}

		.sa-left-sidebar {
			padding-right: $sa-main-vert-sep-padding-left;
		}

		.sa-left-sidebar + .sa-content {
			padding-top: 0;
			position: relative;
			overflow: hidden;
			padding-left: $sa-main-vert-sep-padding-right;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: $sa-main-sidebar-align-with-content-padding-top; //100px;
				width: $sa-main-vert-sep-width;
				height: 100%;
				background: $sa-main-vert-sep-color;
			}

		}

	}

	.sa-handbook-featured-grid {

		.item-header {

			.item-title {
				padding-right: 60px;

				&.lots-o-text {
					font-size: 1.45em;
					padding-right: 60px;
				}

			}

		}

	}

}

// As soon as the row reaches its max width
@media #{$screen} and (min-width:#{$row-width}) {

	.sa-handbook-featured-grid {

		.item-header {

			.item-title {
				font-size: 1.7em !important;
				padding-right: 120px !important;
			}

		}

	}

}

// Tweak the sections
.sa-handbook-section-list {
	margin: 0 0 30px 0;

	.list-item {
		background: rgba( $black, 0.03 );
		padding: 20px;
		margin: 0 0 20px 0;

		&:nth-child(even) {
			background: none;
		}

		*:last-child {
			margin-bottom: 0;
		}

	}

}